* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

@font-face {
    font-family: "monarch";
    src: url(fonts/monarch.ttf);
}

@font-face {
    font-family: "neuehaas";
    src: url(fonts/neue-haas.ttf);
}

body {
    font-family: "neuehaas", "Helvetica", sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        border-bottom: 1px solid black;
    }
}

.copy p {
    margin-bottom: 1em
}

.border-bottom {
    border-bottom: 1px solid black;;
}

.text-right {
    text-align: right;
}

.about-text {
    font-size: 6.5vw;
    line-height: 1.1;

    a:hover {
        border-bottom: 0
    }
}

.special-j {
    width: 1.3em;
    height: 1.2em;
    display: inline-block;
    margin-bottom: -.2em;
}

.test {
    color: red;
}