{% extends "_layout" %}

{% block content %}
    
    <div class="header__back"><a href="/typefaces">Back to Typefaces</a></div>

    <div class="col-4 off-5 copy footer-margin">
        {{ entry.body }}
    </div>

    <div class="footer row">
        <div class="col-5"><a href="/">Jacob Jan Wise</a></div>
        <div class="col-4"><a href="https://wise-type.myshopify.com/" target="_blank">WiseType©</a></div>
    </div>
    
    <script>
        
        $('.face').each(function(){
            var $face = $(this);
            $face.find('input.size').on('input', function () {
                var val = $(this).val();
                console.log(val);
                var val = val + 'px';
                
                $face.find('input.face__test').css({"font-size": val });
            });
     
        });
        
    </script>
    
{% endblock %}
