{% extends "_layout" %}

{% block content %}
    
{% set entries = craft.entries.section('typefaces').order('lft asc') %}


{% set fontCSS %}

    {% for entry in entries %}
    {% set font = entry.fontFile.first() %}
    
        @font-face {
            font-family: {{ entry.title }};
            src: url("{{ font.url }}");
        }
    {% endfor %}

{% endset %}

{% includeCss fontCSS %}

    <div class="footer-margin">

        {% for entry in entries %}
        	<div class="face">
        	    <div class="face__details row">
        	        <div class="col-5"><a href="{{ entry.url }}">{{ entry.title }}</a></div>
	                <div class="col-1">{{ entry.year }}</div>
	                <div class="col-1"><a href="{{ entry.url }}">+ Purchase</a></div>
	                <div class="col-1">{{ entry.glyphs }}</div>
	                <div class="col-1"><input type="range" min="90" max="200" value="90" class="size"></div>
        	    </div>
        	    <div class="row">
        	        <input type="text" class="face__test" placeholder="{{ entry.placeholder }}"/ style='font-family: "{{ entry.title }}"'>
        	    </div>
        	</div>
        {% endfor %}
        
    </div>


    <div class="footer row">
        <div class="col-5"><a href="/">Jacob Jan Wise</a></div>
        <div class="col-2"><a href="https://wise-type.myshopify.com/" target="_blank">WiseType©</a></div>
        <div class="col-2"><a href="/license-agreement">Licensing Agreement</a></div>
    </div>
    
    <script>
        
        $('.face').each(function(){
            var $face = $(this);
            $face.find('input.size').on('input', function () {
                var val = $(this).val();
                console.log(val);
                var val = val + 'px';
                
                $face.find('input.face__test').css({"font-size": val });
            });
     
        });
        
    </script>
    
{% endblock %}
